<!DOCTYPE html>
<html>
<head><title>Editar Desempenho</title></head>
<body>
    <h1>Editar Desempenho de {{ desempenho.aluno.nome }}</h1>
    <form method="post">
        {% csrf_token %}
        <label>Faltas:</label>
        <input type="number" name="faltas" value="{{ desempenho.faltas }}" required><br><br>

        <label>Desempenho:</label>
        <input type="text" name="desempenho" value="{{ desempenho.desempenho }}" required><br><br>

        <label>Emoji:</label>
        <input type="text" name="emoji" value="{{ desempenho.emoji }}" maxlength="5"><br><br>

        <label>Comentário do Professor:</label><br>
        <textarea name="comentario_professor">{{ desempenho.comentario_professor }}</textarea><br><br>

        <button type="submit">Salvar alterações</button>
    </form>
    <a href="{% url 'desempenho_list' %}">Voltar</a>
</body>
</html>
